body{
    background: white;
    color: rgba(55,0,60,255);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    color: rgba(55,0,60,255);
}

.hidden{
    display: none;
}

#winner{
    border: 3px; 
    border-style: solid; 
    border-color: gold;
    width: fit-content;
}

.championsLine {
    border: 1px solid rgb(4, 4, 175);
    width: 270px;
    float: left;
}

.europaLine{
    border: 1px solid rgb(243, 91, 3);
    width: 270px;
    float: left;
}

.conferenceLine {
    border: 1px solid rgb(3, 77, 3);
    width: 270px;
    float: left;
}

.relegation {
    border: 1px solid red;
    width: 270px;
    float: left;
}

footer{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}

br{
    margin: 0.5em;
    line-height:0.5em;
}